// flex 布局复用 默认两端对齐  上下居中

@mixin flex($justify:space-between,$align:center){
    display: flex;
    flex-direction: row;
    justify-content: $justify;
    align-items: $align;
}

@mixin position($position:relative, $top:0, $left:0, $width:0,$height:0){
    position: $position;
    top: $top;
    left: $left;
    width: $width;
    height: $height;
}

@mixin color(){
    color: #096759;
}

$color-brand: #096759;